.dog {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aquamarine;
  margin: 10px 25px;
  display: inline-block;
}
.cat {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: pink;
  margin: 10px 25px;
  display: inline-block;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group-item .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.list-group-item .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list-group-item h6 {
  display: inline-block;
  width: 100px;
  margin: 25px 0;
}
